<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>CA107G3phone</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/CA107G3</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>android.member.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/member/member.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VendorServlet</servlet-name>
    <servlet-class>android.vendor.controller.VendorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorServlet</servlet-name>
    <url-pattern>/vendor/vendor.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VendorServlet2</servlet-name>
    <servlet-class>android.vendor.controller.VendorServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorServlet2</servlet-name>
    <url-pattern>/vendor/vendor2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Fav_ResServlet</servlet-name>
    <servlet-class>android.fav_res.controller.Fav_ResServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fav_ResServlet</servlet-name>
    <url-pattern>/fav_res/fav_res.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Wait_PosServlet</servlet-name>
    <servlet-class>android.wait_pos.controller.Wait_PosServlet</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Wait_PosServlet</servlet-name>
    <url-pattern>/wait_pos/wait_pos.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Wait_PosServlet2</servlet-name>
    <servlet-class>android.wait_pos.controller.Wait_PosServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Wait_PosServlet2</servlet-name>
    <url-pattern>/wait_pos/wait_pos2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Friend_ListServlet</servlet-name>
    <servlet-class>android.friend_list.controller.Friend_ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Friend_ListServlet</servlet-name>
    <url-pattern>/friend_list/friend_list.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrdServlet</servlet-name>
    <servlet-class>android.ord.controller.OrdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdServlet</servlet-name>
    <url-pattern>/ord/ord.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>OrdServlet2</servlet-name>
    <servlet-class>android.ord.controller.OrdServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdServlet2</servlet-name>
    <url-pattern>/ord/ord2.do</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>android.wait_pos.controller.MemberWS</listener-class>
  </listener>
  <listener>
    <listener-class>android.wait_pos.controller.VendorWS</listener-class>
  </listener>
</web-app>